html {
  font-size: 10px;
}

html, body {
  height: 100%;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.6rem;
  color: #454544;
}

header {
  font-size: 2rem;
}
article {
  padding-left: 20%;
  padding-right: 20%;
  @media screen (max-width: 764px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

a {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  transition: ease-in-out 0.2s;
}

a:hover {
  color: rgba(55, 133, 228, 0.8);
  transition: ease-in-out 0.2s;
}
